.divTipoMalware {   
    border-bottom: solid #cccccc 1px;  
    padding-left: 20px;
    display: block;
    font-size: 1.4em;
    padding:  10px;
    padding-left: 10px;
     height: 20px;
     border: solid #b8c8cf 1px;
     border-bottom:  none;
     margin-left:  30px;
     color: #3c9b9e;
     background: url("../img/selectorChecked3.png") no-repeat center right;
     min-width: 150px;
}

.first{
    border-top-left-radius:  20px !important; 
    border-top-right-radius:  20px !important;
}

.last{
    border-bottom-left-radius:   20px;
    border-bottom:  solid #b8c8cf 1px;
    border-bottom-right-radius:   20px;
}
.divTipoMalware:hover{
    background: #f7f7f7 url("../img/selectorChecked4.png") no-repeat center right ;
    text-decoration: none;
    cursor: pointer; 
    color: #092b2d;
    
}

.subtitle{
    color: #8c8e92;
    margin-bottom: 30px;
}


@media (min-width: 770px) {
     .menuMalware {
        position:fixed;
        left: 3px;
        width: 20%; 
     }
 }

.lead{
    font-size: 17px !important;
}

.activeLink{
    background: #0a6568 url("../img/selectorChecked2.png") no-repeat center right !important;
    color: white !important;
    border-right: none;
}

